<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
      <li nz-submenu>
        <span title><span class="nav-text">飞行数据交换</span></span>
        <ul>
          <li nz-menu-item><a routerLink="adapter">管理适配器</a></li>
          <li nz-menu-item><a routerLink="dataimport">数据导入</a></li>
        </ul>
      </li>
      <li nz-menu-item (click)="OnClick()"><span><i class="anticon anticon-file"></i><span
        class="nav-text">其他</span></span></li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed"
         [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
    </nz-header>
    <nz-breadcrumb style="margin:12px 12px;">
      <nz-breadcrumb-item *ngFor="let item of breadcrumbs">
        <a routerLink="{{item.url}}">{{item.title}}</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-content style="margin:0 16px;">
      <div style="padding:24px; background: #fff; min-height: 360px;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
