.steps-content {
  margin-top: 16px;
}

.steps-action {
  margin-top: 24px;
}

:host ::ng-deep td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host ::ng-deep table {
  table-layout: fixed;
}

